In [1]:
num_list = [1,2,3,4,5]

def prod(x, y):
    return x * y

from functools import reduce
product = reduce(prod, num_list)

In [2]:
product

120

In [4]:
#Write a Python Program to implement your own myreduce() function which works exactly
#like Python's built-in function reduce()

In [32]:
x=1

In [37]:
def myreduce(x,num_list):
  for i in num_list:
      x=x*i
  return x

In [39]:
myreduce(1,[1,2,3,4,5])

120

In [40]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False

In [47]:
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered = filter(fun, sequence)
  
print('The filtered letters are:')
for s in filtered:
 print(s)

The filtered letters are:
e
e

In [49]:
t=['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [52]:
[i*j for i in 'xyz' for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [53]:
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [54]:
[i*j for i in range(1,5) for j in "xyz" ]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [56]:
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [60]:
list = [[x+y] for x in range(2,5) for y in range(3)]

In [61]:
list

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [63]:
 [(y,x) for x in [1,2,3] for y in [1,2,3]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]